MusicService/META-INF/MusicService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MusicDefinitions" targetNamespace="urn:Music" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:music="urn:Music" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:Music" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
     
	<!--complex type for one entry in the database -->
	<complexType name="trackDetail">
		<sequence>
			<element name="discNumber" type="xsd:int"/>
			<element name="trackNumber" type="xsd:int"/>
			<element name="composerName" type="xsd:string"/>
			<element name="workName" type="xsd:string"/>
			<element name="titleName" type="xsd:string"/>
		</sequence>
	</complexType>
	
	<!-- complex type for multiple entries in database -->
	<complexType name="trackDetails">
		<sequence>
		<element maxOccurs="unbounded" minOccurs="0" name="detail" type="music:trackDetail"/>
		</sequence>
	</complexType>
	
	<element name="composerRequest" type="xsd:string"/>
	<element name="discRequest" type="xsd:int"/>
	<element name="result" type="music:trackDetails"/>
	<element name="faultElement" type="xsd:string"/>
    </xsd:schema>
  </types>
  <message name="faultMessage">
    <part name="fault" element="music:faultElement">
    </part>
  </message>
  <message name="resultMessage">
    <part name="resultInfo" element="music:result">
    </part>
  </message>
  <message name="requestComposer">
    <part name="composer" element="music:composerRequest">
    </part>
  </message>
  <message name="requestDiscNo">
    <part name="discNo" element="music:discRequest">
    </part>
  </message>
  <portType name="musicPort">
    <operation name="getByComposer">
      <input message="music:requestComposer">
    </input>
      <output message="music:resultMessage">
    </output>
      <fault name="ErrorFault" message="music:faultMessage">
    </fault>
    </operation>
    <operation name="getByDisc">
      <input message="music:requestDiscNo">
    </input>
      <output message="music:resultMessage">
    </output>
      <fault name="ErrorFault" message="music:faultMessage">
    </fault>
    </operation>
  </portType>
  <binding name="musicBinding" type="music:musicPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getByComposer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" encodingStyle="http://schmeas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </input>
      <output>
        <soap:body use="literal" encodingStyle="http:schmeas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </output>
      <fault name="ErrorFault">
        <soap:fault name="ErrorFault" use="literal" encodingStyle="http:schmeas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </fault>
    </operation>
    <operation name="getByDisc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" encodingStyle="http://schmeas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </input>
      <output>
        <soap:body use="literal" encodingStyle="http:schmeas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </output>
      <fault name="ErrorFault">
        <soap:fault name="ErrorFault" use="literal" encodingStyle="http:schmeas.xmlsoap.org/soap/encoding/" namespace="urn:Music"/>
      </fault>
    </operation>
  </binding>
  <service name="MusicService">
    <port name="MusicPort" binding="music:musicBinding">
      <soap:address location="http://127.0.0.1:8080/axis2/services/MusicService"/>
    </port>
  </service>
</definitions>
